{% extends 'layout/app.html.twig' %}

{% block title %}{{ 'homePageHeading'|trans }}{% endblock %}
{% block page_title %}{{ 'homePageHeading'|trans }}{% endblock %}

{% block main %}
    <div class="mb-4">
        <h2 class="mb-0">{{ 'homeWelcomeHeading'|trans({'%name%': user.displayName ?? user.username}) }}</h2>
    </div>

    {% if student is defined %}
        {% include 'home/_student_section.html.twig' %}
    {% endif %}

    {% if teacher is defined %}
        {% include 'home/_teacher_section.html.twig' %}
    {% endif %}

    {% if staff is defined %}
        {% include 'home/_staff_section.html.twig' %}
    {% endif %}
{% endblock %}
