{% extends 'layout/app.html.twig' %}

{% block title %}{{ 'programExportsPageHeading'|trans }} - {{ program.shortName }}{% endblock %}

{% block page_breadcrumb %}
    {% include '_breadcrumb.html.twig' with {segments: [
        {label: 'homeNavLabel'|trans, url: path('app_home')},
        {label: 'programExportsNavLabel'|trans, url: path('app_program_exports_signature', {id: program.id})},
        {label: program.shortName, url: app.request.requestUri},
    ]} %}
{% endblock %}
{% block page_title %}{{ 'programExportsPageHeading'|trans }} - {{ program.shortName }}{% endblock %}

{% block main %}
    <div class="d-print-none">
        {% include '_tabs.html.twig' with {
            tabs: [
                {url: path('app_program_exports_signature', {id: program.id}), label: 'exportsSignatureTabLabel'|trans, active: activeTab == 'signature'},
            ]|merge(program.financialManagementEnabled ? [
                {url: path('app_program_exports_invoicing', {id: program.id}), label: 'exportsInvoicingTabLabel'|trans, active: activeTab == 'invoicing'},
            ] : []),
        } %}
    </div>
    <div class="card cm-card--tabbed">
        {% include 'program/exports/_' ~ activeTab ~ '.html.twig' %}
    </div>
{% endblock %}
