<tr>
    <td rowspan="2" colspan="2" class="text-center align-middle" width="20%">
        <img src="{{ asset('images/beaupeyrat-logo.png') }}" style="margin:auto; display:block" width="80%">
    </td>
    <td colspan="8" class="text-center align-middle fs-5">
        <b>Institution Beaupeyrat – Centre de formation</b><br>
        <span class="fs-6"><br>
            9ter rue Pétiniaud Beaupeyrat - 87036 Limoges Cedex<br>
            Siret : 775 716 715 00013 – APE 8531 Z<br>
            Déclaration d'activité enregistrée sous le n° 748 700 407 87 auprès du Préfet de la région Nouvelle Aquitaine.<br>
        </span>
    </td>
</tr>
