<div data-frankenphp-hot-reload-preserve
     data-controller="datatable"
     data-datatable-url-value="{{ path('app_program_settings_students_data', {id: program.id}) }}"
     data-datatable-page-length-value="10"
     data-datatable-columns-value="{{ [
         {data: 'fullName'},
         {data: 'username'},
         {data: 'email'},
     ]|json_encode }}"
     data-datatable-language-value="{{ {
         info: 'datatableInfoLabel'|trans,
         infoEmpty: 'datatableInfoEmptyLabel'|trans,
         infoFiltered: 'datatableInfoFilteredLabel'|trans,
         zeroRecords: 'datatableZeroRecordsLabel'|trans,
         processing: 'datatableProcessingLabel'|trans,
         lengthMenu: 'datatableLengthMenuLabel'|trans,
         search: 'datatableSearchLabel'|trans,
         paginate: {
             next: 'datatablePaginateNextLabel'|trans,
             previous: 'datatablePaginatePreviousLabel'|trans,
         },
     }|json_encode }}">
    <div class="table-responsive">
        <table class="table table-vcenter card-table table-striped" data-datatable-target="table">
            <thead>
                <tr>
                    <th>{{ 'userFullNameColumnLabel'|trans }}</th>
                    <th>{{ 'userLoginColumnLabel'|trans }}</th>
                    <th>{{ 'accountEmailLabel'|trans }}</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
